.mandatory {
	color: red;
}

.forms {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial,
		Helvetica, sans-serif;
	font-size: 12px;
}

p, h1, form, button {
	border: 0;
	margin: 0;
	padding: 0;
}

.spacer {
	clear: both;
	height: 1px;
}
/* ----------- My Form ----------- */
.myform {
	margin: 0 auto;
	width: 800px;
	padding: 14px;
}

/* ----------- stylized ----------- */
#stylized { #
	border: 2px solid #f90; #
	background: #F5F3F0;
	border: 8px solid #F5F3F0;
	background: white;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-wekbit-box-sizing: border-box;
	box-sizing: border-box;
}

#stylized h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

#stylized p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}

#stylized label {
	display: block;
	font-weight: bold;
	text-align: right; #
	width: 140px;
	float: left;
}

#stylized .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#stylized .medium {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 180px;
}

#stylized input, textarea {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}

.rdo {
	width: 50px !important;
	margin: 2px 0 20px 10px;
}

.rdo_label {
	width: 30px !important;
}

#stylized .inputlarge {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 506px;
	margin: 2px 0 20px 10px;
}

#stylized .selectSmall {
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 100px;
	margin: 2px 0 20px 10px;
}

#stylized .imageSmall {
	font-size: 12px;
	cursor: pointer;
	background: none;
	height: auto;
	padding: 4px 2px;
	border: none;
	margin: 2px 0 20px 10px;
}

#stylized .selectMedium {
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#stylized .selectLarge {
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 300px;
	margin: 2px 0 20px 10px;
}

.button_save {
	clear: both;
	margin-left: 20px;
	width: 125px;
	height: 31px;
	background: #f0f0f0 no-repeat;
	text-align: center;
	line-height: 31px;
	color: black;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
}

.button_cancel {
	clear: both;
	margin-left: 20px;
	width: 125px;
	height: 31px;
	background: #CCCCCC no-repeat;
	text-align: center;
	line-height: 31px;
	cursor: pointer;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

.button_add {
	clear: both;
	margin-left: 10px;
	width: 70px;
	height: 25px;
	background: #088A08 no-repeat;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.button_remove {
	clear: both;
	margin-left: 10px;
	width: 70px;
	height: 25px;
	background: #610B0B no-repeat;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.divider {
	clear: both;
	height: 31px;
}

/*  error message css*/
.errMsg {
	margin: 0 auto;
	width: 180px;
	padding: 14px;
}

#err {
	border: solid 2px #FF0000;
	background: #FBF5EF;
	color: #DF0101;
}

.error {
	border: solid 1px red !important;
}

.errorMsgSave {
	color: #DF0101;
}

.succMsgSave {
	color: #088A08;
}